h2, h3 {
	text-align: center;
}

h2 {
	color: red;
}

#video {
	display: flex;
	margin: 50px auto;
	width: 100%;
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center;
}

#main{
	text-align: center;
}

#main div {
	display: inline-block;
	width: 15%;
	padding: 10px;
	border: 3px inset pink;
	vertical-align: middle;
	text-align: center;
}

img {
	margin: 0 auto;
	width: 150px;
	height: 150px;
}