@import
	url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@500&family=Passion+One&family=Permanent+Marker&family=Roboto:wght@300&display=swap')
	;

body {
	min-width: 900px;
}

header, footer, aside, section, nav {
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
}

#contatiner {
	display: flex;
	flex-direction: column; /* 밑으로 */
}

#main {
	display: flex;
	flex-direction: row; /* 옆으로 */
}

footer, nav {
	width: 100%;
	height: 100px;
}

nav {
	display: flex;
	border: 2px dotted gray;
	border-left: none;
	border-right: none;
	background: white;
	height: 50px;
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center; /* 수평 가운데 정렬 */
	font-family: 'Permanent Marker', cursive;
	font-size: 1.3rem;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 70px;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	letter-spacing: 5px;
}

header {
	display: flex;
	width: 100%;
	height: 150px;
	text-align: center;
	background-image: url('../images/footer3.jpg');
	align-items: center; /* 수직 가운데 정렬 */
	justify-content: center;
	width: 100%;
}

footer {
	dispaly: flex;
	width: 100%;
	height: 50px;
	background-image: url('../images/footer3.jpg');
	text-align: center;
	width: 100%;
}

aside {
	background: #AAB9FF;
	flex: 15%;
	height: 630px;
	border-top: 7px double purple;
	border-bottom: 7px double purple;
	border-left: none;
	border-right: none;
	background-image: url('../images/aside2.png');
	padding: 30px;
}

aside ul {
	list-style-type: none;
}

aside#h3 {
	font-size: 1.5rem;
}

#artistList li {
	gap: 50px;
	margin-bottom: 15px;
	list-style-type: none;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.3rem;
	list-style-type: none;
	letter-spacing: 3px;
}

section {
	display: flex;
	border: 2px solid purple;
	background: white;
	flex: 70%;
	height: 630px;
	align-items: center;
	justify-content: center;
}

article {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

iframe {
	width: 100%;
	height: 100%;
	padding: 10px;
	border: none;
	align-items: center;
	box-sizing: border-box; /* inset 테두리 문제 해결을 위해 추가 */
}

img {
	width: 40px;
	height: 40px;
}

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 3.0rem;
	margin: 0; /* 텍스트 주변의 여백 제거 */
}

form {
	padding: 7px;
	width: 70%;
}

label {
	display: inline-block;
	width: 70px;
	height: 30px;
}

#login-buttons {
	display: inline-block;
	white-space: nowrap;
}

.divider {
	margin: 0 10px;
}

#footer-content {
	display: inline-block;
	text-align: center;
	line-height: 40px;
	width: 100%; /* 수평 가운데 정렬을 위해 너비 100%로 설정 */
}

#headerText, .artlist {
	color: black; /* 텍스트 색상을 검은색으로 설정 */
	text-decoration: none; /* 밑줄을 없애기 위해 설정 */
}

.abutton {
	color: white;
	border: 1px solid purple;
	padding: 5px;
	background: purple;
	border-radius: 30px;
	text-decoration: none;
}

/* 반응형 웹 */
@media ( max-width : 1100px) {
	#main {
		flex: 100%;
		flex-direction: column;
		height: auto;
	}
	#artistList li {
		flex: 100%;
		display: inline-block;
		height: auto;
		margin-right: 20px;
	}
	div#shopcart, div#login {
		display: inline-block;
	}
	
	div#shopcart{
		width: 300px;
		float: left;
	}
	
	div#login{
		float: right;
	}
	iframe{
		height: 610px;
	}
	
}