

h2{
	text-align: center;
	margin-bottom: 5px;
}
fieldset{
	padding : 30px;
}
form{
	margin : 30px auto;
	padding : 10px;
	width : 30%;
	
}
#내용{
	vertical-align: top;
}
span{
	font-weight: bold;
}
label {
    display: inline-block; 
    margin-bottom: 10px; /* 라벨 아래 간격 조정 */
    text-align: left; /* 라벨 텍스트를 왼쪽 정렬 */
    width : 120px;
   
}
input{
	width : 200px;
}

legend{
	text-align: left;
}

input[type=radio]{
	width : 20px;
	vertical-align: top;
	display: inline-block; 
	text-align: left;
}	

div{
	padding-left:30px;
}

/* 반응형 웹 */
@media ( max-width : 500px) {
	body {
		flex: 100%;
		flex-direction: column;
		height: auto;
	}
