@charset "UTF-8";

            .panel-faq-container {
                margin-bottom: -16px;
            }
            .panel-faq-title {
                cursor: pointer;
            }
            .panel-faq-answer {
                height: 0;
                overflow: hidden;
                /* 변화가 시작되는 쪽에다가 transition 적용해준다 0 -> 300px 
                왜? 닫기 버튼을 누를 때 변화가 티남 */
                transition: all 1s;
            }
            .active {
                display: block;
                /* 높이를 정해줘야지만 transition이 적용됨 */
                height: 200px;
            }
         
            .page-link {
			  color: #ffffff; 
			  background-color: rgb(254, 181, 14);
			  border: 1px solid rgb(254, 181, 14); 
			}
			
			.page-item.active .page-link {
			 z-index: 1;
			 color:  #DE8F5F;
			 font-weight:bold;
			 background-color: #D6D46D;
			 border-color: #DE8F5F;
			 
			}
			
			.page-link:focus, .page-link:hover {
			  color: #DE8F5F;
			  background-color: #D6D46D; 
			  border-color: #DE8F5F;
			}
   