@charset "UTF-8";
section#userlogin {
	width: 80%;
	margin: 0 auto;
}


#login-header {
	color: #D6D46D;
	text-align: center;
	position: relative;
	top: -30px;
}

#main-holder {
	padding: 10%; 
	margin: 10%;
	justify-items: center;
	align-items: center;
	background-color: white;
	box-shadow: 0px 0px 5px 2px #DE8F5F;
	position: relative;
}

#login-form {
	display: flex;
	justify-items: center;
	align-items: center;
}

.login-form-field::placeholder {
	color: #DE8F5F;
}

.login-form-field {
	width: 50;
	border: none;
	border-bottom: 1px solid #D6D46D;
	margin-bottom: 10px;
	border-radius: 3px;
	outline: none;
	padding: 5px 5px 5px 5px;
}

#login-form-submit {
	width: 150px;
	height: 50px;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #D6D46D;
	cursor: pointer;
	font-size: 20px
}

#idfind {
	margin: 10px;
}

#passfind {
	margin: 10px;
}

#div1 {
	padding-left: 50px
}

#div2 {
	float: right;
}

.idbfind {
	width: 50;
	border: none;
	border-bottom: 1px solid #D6D46D;
	margin-bottom: 10px;
	border-radius: 3px;
	outline: none;
	padding: 5px 5px 5px 5px;
}

.pwbfind {
	width: 50;
	border: none;
	border-bottom: 1px solid #D6D46D;
	margin-bottom: 10px;
	border-radius: 3px;
	outline: none;
	padding: 5px 5px 5px 5px;
}

.find {
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #D6D46D;
	cursor: pointer;
	font-size: 20px
}

.idfbutton {
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #D6D46D;
	cursor: pointer;
	font-size: 20px
}

.pwfbutton {
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #D6D46D;
	cursor: pointer;
	font-size: 20px
}

#userjoin {
	margin-left: 136px;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #D6D46D;
	cursor: pointer;
	font-size: 20px;
}

.modal-title {
	color: #D6D46D;
}

#test {
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -45%);
}