
pre{
  font-size : 1.5rem;
  background : #fadeee;
  margin : 50px;
  
  border : 15px solid purple;
  border-left : none;
  border-right : none;
  
  padding : 20px;
}

div{
	border: 2px dotted skyblue;
	margin: 20px;
	padding: 10px;
	height: auto;
}

label{
	display: inline-block;
	width: 100px;
	text-align: left; /* 라벨 텍스트를 왼쪽 정렬 */
	
}

input[type=button], button[type=button]{
	width: 80px;
	height: 30px;
	background: lightpink;
	color: black;
	border-radius: 10px;
	font-size: 1.2rem;
}